.goods {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 0.8rem;
}
.goods > div {
  width: 44%;
  height: 2.67rem;
  background: #f8e0f2;
  margin-top: 0.1rem;
  background: #fff;
}
.goods > div:nth-child(2n + 1) {
  margin-left: 4.8%;
  float: left;
}
.goods > div:nth-child(2n) {
  margin-right: 4.8%;
  float: right;
}
.goods > div a .good_img {
  width: 100%;
  height: 1.67rem;
}
.goods > div .good_img img {
  width: 100%;
  height: auto;
}
.goods > div a .good_name {
  height: 0.34rem;
  font-size: 0.12rem;
  font-weight: 600;
  padding-left: 5%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #333;
  margin: 0.06rem 0;
}
.goods a > div .good_container {
  width: 90%;
  height: 0.32rem;
  margin-left: 5%;
  font-size: 0.12rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: #333;
}
.goods > div a .good_price {
  width: 90%;
  height: 0.16rem;
  line-height: 0.16rem;
  margin-left: 5%;
  font-weight: bold;
  font-size: 0.12rem;
  color: #5b50d3;
}
.goods > div a .good_price:nth-child(3) {
  color: #999;
  padding-top: 0.08rem;
}
.empty {
  width: 100%;
  height: 0.5rem;
}
