
.search{
    width: 100%;
    height: .44rem;
    background: #f6f6f6;
}
.search input{
    width: 64.6%;
    height: .28rem;
    background: #e7e7e7;
    margin: .08rem auto;
    margin-left: 4.8%;
    border-radius: .025rem;
    color: #b3b3b3;
    padding-left: 18%;
}
.search span{
    color: #000;
    font-weight: bold;
    padding-left: 1.5%;
}
.warp{
    width: 100%;
    height: .44rem;
    overflow-x: auto;
}
.category_nav{
    width: 100%;
    height: .44rem;
    background: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.category_nav li{
    width: 25%;
    height: .44rem;
    height: .44rem;
    line-height: .44rem;
    float: left;
    text-align: center;
}
.category_nav a{
    font-size: .14rem;
    padding: 0 .1rem .08rem .1rem;
}
.goods{
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: .5rem;
}
.goods>div{
    width: 44%;
    height: 2.67rem;
    background: #f8e0f2;
    margin-top: .1rem;
}
.goods>div:nth-child(2n+1){
    margin-left: 4.8%;
    float: left;
}
.goods>div:nth-child(2n){
    margin-right: 4.8%;
    float: right;
}
.goods>div .good_img{
    width: 100%;
    height: 1.67rem;
}
.goods>div .good_img img{
    width: 100%;
    height: 1.67rem;
}
.goods>div .good_name{
    width: 95%;
    height: .37rem;
    line-height: .37rem;
    font-size: .14rem;
    font-weight:600;
    padding-left: 5%;
}
.goods>div .good_container{
    width: 90%;
    height: .32rem;
    margin-left: 5%;
    font-size: .12rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.goods>div .good_price{
    width: 90%;
    height: .31rem;
    line-height: .31rem;
    margin-left: 5%;
    font-weight: bold;
    font-size: .14rem;
}
.empty{
    width: 100%;
    height: .5rem;
}

.hot_search,.history_search{
    width: 100%;
    height: .92rem;
    border-top: 1px solid #ccc;
    padding-bottom: .1rem;
}
.hot_topic,.history_topic{
    width: 100%;
    /* height: .12rem; */
    border-left: .02rem solid #d60000;
    margin-left: 4.8%;
    margin-top: .2rem;
    padding-left: 0.9%;
}
.hot_search>div,.history_search>div{
    width: 90.4%;
    padding-left: 3%;
    padding-right: 4.8%;
    margin-top: .1rem;
}
.hot_search>div a,.history_search>div a{
    display: inline-block;
    height: .28rem;
    line-height: .28rem;
    margin-top: .1rem;
    padding: 0 .15rem;
    background: #e7e7e7;
    margin-left: 1.5%;
    color: #000;
    border-radius: .02rem;
    font-weight: bold;
}