body{
    background: #f8f8f8;
}
.goods_message{
    width: 100%;
    height: 1.15rem;
    background: #fff;
}
.goods_message .name{
    height: .47rem;
    line-height: .47rem;
    font-size: .18rem;
    font-weight: 600;
    padding-left: 4.8%;
}
.goods_message .num{
    margin-top: .14rem;
    font-weight: 600;
    font-size: .14rem;
    display: inline-block;
    padding-left: 4.8%;
}
.goods_message span{
    font-weight: 600;
    font-size: .14rem;
}
.goods_message .price{
    height: .35rem;
    line-height: .35rem;
    font-size: .2rem;
    font-weight: bold;
    padding-left: 4.8%;
    color: #5b50d3;
}
.specification{
    height: 1.34rem;
    width: 100%;
    background: #fff;
    margin-top: .1rem;
}
.specification p{
    height: .32rem;
    line-height: .32rem;
    font-size: .13rem;
    font-weight: 600;
    padding-left: 4.8%;
}
.specification p span{
    padding-left: 6.2%;
}
.goods_picture{
    width: 100%;
    height: .4rem;
    position: relative;
}
.goods_picture .topic_pic{
    width: 22.6%;
    height: .4rem;
    text-align: center;
    background: #f8f8f8;;
    line-height: .4rem;
    margin: 0 auto;
    font-size: .15rem;
    font-weight: 600;
}
.goods_picture .line{
    width: 50%;
    height: .01rem;
    background: #999;
    position: absolute;
    top: 50%;
    left: 25%;
    z-index: -1;
}