body{
    background: #f8f8f8;
}
.place{
    width: 100%;
    height: 1.04rem;
    border-bottom: 1px solid #ccc;
    background: #fff;
    position: relative;
}
.place a{
    display: block;
    width: 67%;
    height: .43rem;
    line-height: .43rem;
    border: dashed #ccc 1px;
    text-align: center;
    color: #999;
    position: absolute;
    top: .3rem;
    left: 16.5%;
}
.order_list li{
    width: 100%;
    height: 1.4rem;
    background: #f8f8f8;
    border-bottom: 1px solid #ccc;
}
.order_list li>div{
    float: left;
}
.order_list li>div:first-child{
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 4.8%;
    margin-top: .15rem;
}
.order_list li>div:first-child img{
    width: 100%;
    height: auto;
    
}
.order_list li>div:nth-child(2){
    width: 63%;
    height: 1.1rem;
    margin-top: .15rem;
    margin-left: 0;
}
.order_list li>div:nth-child(2) p{
    font-size: .14rem;
    font-weight: bold;
    padding-left: 5.2%;
}
.order_list li>div:nth-child(2) p:nth-child(1) span{
    padding-left: 4.2%;
}
.order_list li>div:nth-child(2) p:nth-child(2){
    margin-top: .06rem;
    
}
.order_list li>div:nth-child(2) p:nth-child(2) span{
    padding-left: 8.4%;
}
.order_list li>div:nth-child(2) p:nth-child(2),.order_list li>div:nth-child(2) p:nth-child(3){
    height: .17rem;
    color: #666;
    font-size: .13rem;
}
.order_list li>div:nth-child(2) p:nth-child(4){
    font-size: .2rem;
    margin-top: .28rem;
    display: inline-block;
    color: #d60000;
}
.order_list li>div:nth-child(2) .number{
    float: right;
    font-size: .2rem;
    color: #666;
    font-weight: bold;
    padding-top: .28rem;
    padding-right: 7.8%;
}
.information li{
    width: 100%;
    height: .44rem;
    border-bottom: 1px solid #ccc;
    padding:0 4.8%;
    line-height: .44rem;
    font-size: .14rem;
    font-weight: bold;
    background: #fff;
}
.information li input{
    width: 75%;
    height: .42rem;
    color: #999;
    font-size: .12rem;
    padding-left: 2%;
}
.information li i{
    float: right;
    font-weight: bold;
    font-size: .14rem;
}
.accont{
    width: 100%;
    height: .61rem;
    padding:0 4.8%;
    font-size: .12rem;
    font-weight: bold;
    background: #fff;
}
.accont p{
    display: inline-block;
    float: right;
    margin-top: .15rem;
}
.accont p:nth-child(1){
    padding-left: 4%;
}
.accont p span{
    float: right;
}
.order_footer{
    width: 100%;
    height: .5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
}
.order_footer>div{
    float: left;
}
.order_footer>div:nth-child(1){
    width: 64.5%;
    height: .5rem;
    padding-right: 4.5%;
}
.order_footer>div:nth-child(2){
    width: 31%;
    height: .5rem;
    background: #d60000;
    color: #fff;
    font-size: .16rem;
    text-align: center;
    line-height: .5rem;
    float: right;
}
.order_footer>div p{
    display: inline-block;
    float: right;
    line-height: .5rem;
    font-size: .12rem;
    font-weight: bold;
}
.order_footer>div p span{
    float: right;
}