body {
  background: #f6f6f6;
}
p {
  margin: 0;
  padding: 0;
}
.shoppingcart_top {
  width: 100%;
  height: 0.44rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  line-height: 0.44rem;
  font-size: 0.18rem;
  color: #000;
}
.editer {
  height: 0.43rem;
  line-height: 0.43rem;
  padding: 0 4%;
  background: #fff;
}
.editer img {
  display: inline-block;
  width: 0.26rem;
  height: 0.26rem;
  margin-left: 1%;
  border-radius: 50%;
}
.editer p {
  display: inline-block;
  font-size: 0.14rem;
  font-weight: 600;
  padding-left: 1%;
}
.editer span {
  float: right;
  font-size: 0.12rem;
  font-weight: bold;
}
.order_list li {
  background: #fff;
}
.order_list li {
  padding: 0 4%;
  height: 1.2rem;
  position: relative;
  border-bottom: 1px solid #ccc;
}
#check {
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  margin-left: 4%;
  margin-top: 0.5rem;
}
.check {
  width: 0.21rem;
  height: 0.21rem;
  position: absolute;
  left: 6%;
  top: 0.45rem;
  z-index: -1;
}
.check:first-child {
  z-index: 1;
}

.order_list li > div {
  float: left;
}
.order_list li > div:first-child {
  width: 0.1rem;
  height: 0.1rem;
  margin-left: 0;
  margin-top: 0.4rem;
}
.order_list li > div:nth-child(2) {
  width: 0.9rem;
  height: 0.9rem;
  margin-left: 4%;
  margin-top: 0.15rem;
}
.order_list li > div:nth-child(2) img {
  width: 100%;
  height: auto;
}
.order_list li > div:nth-child(3) {
  /* width: 61.2%; */
  width: 65.6%;
  height: 1rem;
  margin-top: 0.15rem;
}
.order_list li > div:nth-child(3) p {
  font-size: 0.13rem;
  font-weight: bold;
  padding-left: 5.2%;
}
.order_list li > div:nth-child(3) p:nth-child(1) span {
  padding-left: 4.2%;
}
.order_list li > div:nth-child(3) p:nth-child(2) {
  margin-top: 0.04rem;
}
.order_list li > div:nth-child(3) p:nth-child(2) span {
  padding-left: 8.4%;
}
.order_list li > div:nth-child(3) p:nth-child(2),
.order_list li > div:nth-child(2) p:nth-child(3) {
  height: 0.17rem;
  color: #666;
  font-size: 0.12rem;
}
.order_list li > div:nth-child(3) p:nth-child(4) {
  font-size: 0.18rem;
  margin-top: 0.16rem;
  display: inline-block;
  color: #5b50d3;
}
.order_list li > div:nth-child(3) .number {
  float: right;
  font-size: 0.18rem;
  color: #666;
  font-weight: bold;
  padding-top: 0.16rem;
  padding-right: 7.8%;
}
